<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="/stylesheets/read.css">
    <title>All Users</title>
</head>
<body>
    <div>
        <h1>All Users</h1>
        <h2>Want to Create more users ??? Click <a id="muser" href="/">Create Users </a></h2>
        <div class="boxcont">
            <% users.forEach(function(user){ %>
                <div class="box">
                    <h3>Name : <%= user.name %></h3>
                    <h4>Course : <%= user.course %></h4>
                    <h4>Branch : <%= user.branch %></h4>
                    <h4>Email : <%= user.email %></h4>
                    <h4>Contact no : <%= user.contactno %></h4>
                    <div class="editbox">

                        <a href="/edit/<%= user._id %>" id="edit">Edit</a>
                        <a href="/delete/<%= user._id%>" id="delete">Delete</a>
                    </div>
                    
                </div>

            <% }) %>

        </div>
    </div>
</body>
</html>